/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.1728)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [PSystem]    Script Date: 02/10/2017 23:19:54 ******/
CREATE DATABASE [PSystem]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PSystem]
GO
USE [PSystem]
GO
/****** Object:  Table [dbo].[CustomerTBL]    Script Date: 02/10/2017 23:19:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTBL](
	[CustomerID] [nvarchar](10) NOT NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CustomerTBL] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLineTBL]    Script Date: 02/10/2017 23:19:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLineTBL](
	[OrderID] [int] NOT NULL,
	[ProductID] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderTBL]    Script Date: 02/10/2017 23:19:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderTBL](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [nvarchar](50) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[CustomerID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OrderTBL] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTBL]    Script Date: 02/10/2017 23:19:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTBL](
	[ProductID] [nvarchar](10) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[ProductPrice] [int] NULL,
 CONSTRAINT [PK_ProductTBL] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CustomerTBL] ([CustomerID], [CustomerName]) VALUES (N'1', N'Customer1')
INSERT [dbo].[CustomerTBL] ([CustomerID], [CustomerName]) VALUES (N'2', N'Customer2')
INSERT [dbo].[CustomerTBL] ([CustomerID], [CustomerName]) VALUES (N'3', N'Customer3')
INSERT [dbo].[OrderLineTBL] ([OrderID], [ProductID], [Quantity], [Price]) VALUES (1, N'1', 1, 100)
INSERT [dbo].[OrderLineTBL] ([OrderID], [ProductID], [Quantity], [Price]) VALUES (1, N'2', 1, 200)
INSERT [dbo].[OrderLineTBL] ([OrderID], [ProductID], [Quantity], [Price]) VALUES (1, N'3', 1, 250)
SET IDENTITY_INSERT [dbo].[OrderTBL] ON 

INSERT [dbo].[OrderTBL] ([OrderID], [OrderDate], [PaymentMethod], [CustomerID]) VALUES (1, N'02/10/2017', N'Cash', N'3')
SET IDENTITY_INSERT [dbo].[OrderTBL] OFF
INSERT [dbo].[ProductTBL] ([ProductID], [ProductName], [ProductPrice]) VALUES (N'1', N'P1', 100)
INSERT [dbo].[ProductTBL] ([ProductID], [ProductName], [ProductPrice]) VALUES (N'2', N'P2', 200)
INSERT [dbo].[ProductTBL] ([ProductID], [ProductName], [ProductPrice]) VALUES (N'3', N'P3', 250)
USE [master]
GO
